body {
  display: flex;
  background-color: #7c9ea8;
  text-align: center;
  justify-content: center;
}

h1 {
  color: #effaf0;
  font-size: 5em;
}

a {
  color: #effaf0;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
